* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  display: block;
}

body,
html {
  height: 100vh;
  z-index: 0;
}

.border {
  border: 1px solid grey;
}

.hidden {
  visibility: hidden;
}

.user-input {
  width: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;

  position: absolute;
  z-index: 2;
  top: 1vh;
  left: 5vw;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.user-input * {
  border: none;
  margin: 5px;
  padding: 5px;
}

label {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255);
}
input {
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
}
button {
  background-color: orange;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: black;
}
input::placeholder {
  color: grey;
}
.thumb-and-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 5px;

  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 2;
}
.button-style {
  height: 25px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
}

.button-style:hover {
  background-color: white;
  color: black;
}

#nextImage {
  position: absolute;
  z-index: 2;
  right: 5%;
  bottom: 50%;
}

#prevImage {
  position: absolute;
  z-index: 2;
  left: 5%;
  bottom: 50%;
}

.toggle-display {
  position: absolute;
  z-index: 9;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);

  transition: bottom 1s;
}

.thumbnail-display-hidden {
  position: absolute;
  z-index: 9;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.thumbnail-display {
  height: auto;
  width: 500px;
  margin: 5px;
  padding: 5px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  gap: 5px;

  background-color: rgba(0, 0, 0, 0.6);

  overflow: scroll;
}

.thumbnail-display img {
  width: 120px;
  height: auto;
  cursor: pointer;
}

.main-background img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}

#currentPage {
  padding-top: 3px;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: -30%;
  transform: translate(-50%);

  border-radius: 10px;
}

.frank-id {
  margin: 5px;
  padding: 5px;

  position: absolute;
  left: 1vw;
  bottom: 1vh;
  z-index: 2;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);

  border-radius: 5px;
}
.frank-id a {
  padding-left: 5px;
  color: aliceblue;
}

@media (max-width: 600px) {
  .user-input {
    width: 90%;
  }

  .thumbnail-display {
    justify-content: flex-start;
  }

  .thumbnail-display img {
    width: 90px;
  }
  .frank-id {
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
  }
  #currentPage {
    bottom: -25%;
  }
}
@media (max-width: 1280px) {
  .frank-id {
    left: 50%;
    transform: translateX(-50%);
  }
  .thumbnail-display {
    left: 50%;
    bottom: 10vh;
  }
  .user-input {
    left: 50%;
    transform: translateX(-50%);
    gap: 0px;
  }
  /* Page Buttons */
  #nextPage {
    position: absolute;
    z-index: 2;
    right: 15%;
    bottom: -20%;
  }

  #prevPage {
    position: absolute;
    z-index: 2;
    left: 15%;
    bottom: -20%;
  }
}
