* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  height: 100vh;
}

.thumbnail-display {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  z-index: 2;
}

.thumbnail-display img {
  width: 250px;
  /* height: auto; */
}

.main-background img {
  max-width: 100vw;
  max-height: 100vh;

  position: relative;
  z-index: 0;
}
